<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wutuobang.score.dao.ICommonQuestionDao">

    <resultMap id="CommonQuestion" type="com.wutuobang.score.model.CommonQuestionModel">
        <result property="id" column="id"/>
        <result property="question" column="question"/>
        <result property="answer" column="answer"/>
        <result property="ctime" column="c_time"/>
    </resultMap>

	<!-- 用于select查询公用抽取的列 -->
	<sql id="columns">
	    <![CDATA[
        id ,question ,answer ,c_time 
	    ]]>
	</sql>
	
    <insert id="insert" >
		<selectKey keyProperty="k_id" resultType="int" order="BEFORE">
			select t_common_question_seq.NEXTVAL from dual
		</selectKey>
    <![CDATA[
        INSERT INTO t_common_question (
	        id  ,
	        question  ,
	        answer  ,
	        c_time  
        ) VALUES (
        	${k_id} ,
        	#{question, jdbcType=VARCHAR} ,
        	#{answer, jdbcType=VARCHAR} ,
        	#{ctime, jdbcType=TIMESTAMP} 
        )
    ]]>
    </insert>

    <update id="update" >
        UPDATE t_common_question SET
	        <if test="question != null">question = #{question, jdbcType=VARCHAR} ,</if>
	        <if test="answer != null">answer = #{answer, jdbcType=VARCHAR} ,</if>
	        <if test="ctime != null">c_time = #{ctime, jdbcType=TIMESTAMP} </if>
        WHERE 
	        id = #{id} 
    </update>

    <delete id="delete">
    <![CDATA[
        DELETE FROM t_common_question WHERE
        id = #{id} 
    ]]>
    </delete>
    
    <select id="getById" resultMap="CommonQuestion">
	    SELECT <include refid="columns"/>
	    <![CDATA[
	        FROM t_common_question
	        WHERE 
		        id = #{id} 
	    ]]>
    </select>

	<sql id="findWhere">
	    <where>
			<if test="question != null">
				AND question = #{question}
			</if>
			<if test="answer != null">
				AND answer = #{answer}
			</if>
	    </where>
	</sql>
	 
    <select id="findPageCount" resultType="int">
        SELECT count(*) FROM t_common_question <include refid="findWhere"/>
    </select>
    
    <!--
    	分页查询已经使用Dialect进行分页,也可以不使用Dialect直接编写分页
    	因为分页查询将传 #offset#,#pageSize#,#lastRows# 三个参数,不同的数据库可以根于此三个参数属性应用不同的分页实现
    -->
    <select id="findPage" resultMap="CommonQuestion">
    	SELECT <include refid="columns"/> FROM t_common_question
		<include refid="findWhere"/>
		<if test="sortColumns != null">
			ORDER BY ${sortColumns}
		</if>
    </select>

	
	<select id="find" resultMap="CommonQuestion">
	    SELECT <include refid="columns"/> FROM t_common_question
		<include refid="findWhere"/>
		<if test="sortColumns != null">
			ORDER BY ${sortColumns}
		</if>
    </select>
	
</mapper>

