<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wutuobang.score.dao.ICompanyInfoDao">

	<resultMap id="CompanyInfo" type="com.wutuobang.score.model.CompanyInfoModel">
		<result property="id" column="id"/>
		<result property="userName" column="user_name"/>
		<result property="password" column="password"/>
		<result property="companyName" column="company_name"/>
		<result property="companyType" column="company_type"/>
		<result property="societyCode" column="society_code"/>
		<result property="companyMobile" column="company_mobile"/>
		<result property="operator" column="operator"/>
		<result property="operator2" column="operator2"/>
		<result property="operatorMobile" column="operator_mobile"/>
		<result property="operatorAddress" column="operator_address"/>
		<result property="remark" column="remark"/>
		<result property="createTime" column="create_time"/>
		<result property="operatorMobile2" column="operator_obile2"></result>
		<result property="idCardNumber_1" column="idCardNumber_1"></result>
		<result property="idCardNumber_2" column="idCardNumber_2"></result>
		<result property="status" column="status"></result>
		<result property="businessLicenseSrc" column="businessLicenseSrc"/>

		<result property="apprdate" column="apprdate"/>
		<result property="dom" column="dom"/>
		<result property="entname" column="entname"/>
		<result property="enttype" column="enttype"/>
		<result property="estdate" column="estdate"/>
		<result property="lerep" column="lerep"/>
		<result property="opfrom" column="opfrom"/>
		<result property="opscope" column="opscope"/>

		<result property="opto" column="opto"/>
		<result property="regcap" column="regcap"/>
		<result property="regcapcur" column="regcapcur"/>
		<result property="regno" column="regno"/>
		<result property="regorg" column="regorg"/>
		<result property="regstate" column="regstate"/>
		<result property="orgno" column="orgno"/>
		<result property="compform" column="compform"/>
	</resultMap>

	<!-- 用于select查询公用抽取的列 -->
	<sql id="columns">
		<![CDATA[
        id ,user_name ,password ,company_name ,company_type ,society_code ,company_mobile ,operator, operator2, operator_mobile ,operator_address ,remark ,
        create_time,operator_obile2,idCardNumber_1,idCardNumber_2,status,businessLicenseSrc
		,apprdate
		,dom
		,entname
		,enttype
		,estdate
		,lerep
		,opfrom
		,opscope
		,opto
		,regcap
		,regcapcur
		,regno
		,regorg
		,regstate
		,orgno
		,compform

		]]>
	</sql>

	<insert id="insert" >
		<selectKey keyProperty="id" resultType="int" order="BEFORE">
			select t_company_info_seq.NEXTVAL from dual
		</selectKey>
		<![CDATA[
        INSERT INTO t_company_info (
	        id  ,
	        user_name  ,
	        password  ,
	        company_name  ,
	        company_type  ,
	        society_code  ,
	        company_mobile  ,
	        operator  ,
	        operator2  ,
	        operator_mobile  ,
	        operator_address  ,
	        remark  ,
	        create_time,
	        operator_obile2,
	        idCardNumber_1,
	        idCardNumber_2,
			status,
			businessLicenseSrc
			,apprdate
			,dom
			,entname
			,enttype
			,estdate
			,lerep
			,opfrom
			,opscope
			,opto
			,regcap
			,regcapcur
			,regno
			,regorg
			,regstate
			,orgno
			,compform
        ) VALUES (
        	${id} ,
        	#{userName, jdbcType=VARCHAR} ,
        	#{password, jdbcType=VARCHAR} ,
        	#{companyName, jdbcType=VARCHAR} ,
        	#{companyType, jdbcType=INTEGER} ,
        	#{societyCode, jdbcType=VARCHAR} ,
        	#{companyMobile, jdbcType=VARCHAR} ,
        	#{operator, jdbcType=VARCHAR} ,
        	#{operator2, jdbcType=VARCHAR} ,
        	#{operatorMobile, jdbcType=VARCHAR} ,
        	#{operatorAddress, jdbcType=VARCHAR} ,
        	#{remark, jdbcType=VARCHAR} ,
        	#{createTime, jdbcType=TIMESTAMP},
        	#{operatorMobile2, jdbcType=VARCHAR},
        	#{idCardNumber_1, jdbcType=VARCHAR},
        	#{idCardNumber_2, jdbcType=VARCHAR},
        	#{status,jdbcType=INTEGER},
			#{businessLicenseSrc, jdbcType=VARCHAR},
			#{apprdate, jdbcType=VARCHAR},
			#{dom,      jdbcType=VARCHAR},
			#{entname,  jdbcType=VARCHAR},
			#{enttype,  jdbcType=VARCHAR},
			#{estdate,  jdbcType=VARCHAR},
			#{lerep,    jdbcType=VARCHAR},
			#{opfrom,   jdbcType=VARCHAR},
			#{opscope,  jdbcType=VARCHAR},
			#{opto,     jdbcType=VARCHAR},
			#{regcap,   jdbcType=VARCHAR},
			#{regcapcur,jdbcType=VARCHAR},
			#{regno,    jdbcType=VARCHAR},
			#{regorg,   jdbcType=VARCHAR},
			#{regstate, jdbcType=VARCHAR},
			#{orgno,    jdbcType=VARCHAR},
			#{compform, jdbcType=VARCHAR}
        )
    ]]>
	</insert>

	<insert id="insertCompanyEditRecord" >
		<selectKey keyProperty="recordId" resultType="int" order="BEFORE">
			select T_COMPANY_INFO_EDITRECORD_SEQ.NEXTVAL from dual
		</selectKey>
		<![CDATA[
        INSERT INTO T_COMPANY_INFO_EDITRECORD (
	        id  ,
			company_id ,
	        user_name  ,
	        password  ,
	        company_name  ,
	        company_type  ,
	        society_code  ,
	        company_mobile  ,
	        operator  ,
	        operator2  ,
	        operator_mobile  ,
	        operator_address  ,
	        remark  ,
	        create_time,
	        operator_obile2,
	        idCardNumber_1,
	        idCardNumber_2,
			status,
			businessLicenseSrc,
			c_time
			,apprdate
			,dom
			,entname
			,enttype
			,estdate
			,lerep
			,opfrom
			,opscope
			,opto
			,regcap
			,regcapcur
			,regno
			,regorg
			,regstate
			,orgno
			,compform
        ) VALUES (
        	${recordId} ,
            #{id, jdbcType=INTEGER} ,
        	#{userName, jdbcType=VARCHAR} ,
        	#{password, jdbcType=VARCHAR} ,
        	#{companyName, jdbcType=VARCHAR} ,
        	#{companyType, jdbcType=INTEGER} ,
        	#{societyCode, jdbcType=VARCHAR} ,
        	#{companyMobile, jdbcType=VARCHAR} ,
        	#{operator, jdbcType=VARCHAR} ,
        	#{operator2, jdbcType=VARCHAR} ,
        	#{operatorMobile, jdbcType=VARCHAR} ,
        	#{operatorAddress, jdbcType=VARCHAR} ,
        	#{remark, jdbcType=VARCHAR} ,
        	#{createTime, jdbcType=TIMESTAMP},
        	#{operatorMobile2, jdbcType=VARCHAR},
        	#{idCardNumber_1, jdbcType=VARCHAR},
        	#{idCardNumber_2, jdbcType=VARCHAR},
        	#{status,jdbcType=INTEGER},
			#{businessLicenseSrc, jdbcType=VARCHAR},
			sysdate,
			#{apprdate, jdbcType=VARCHAR},
			#{dom,      jdbcType=VARCHAR},
			#{entname,  jdbcType=VARCHAR},
			#{enttype,  jdbcType=VARCHAR},
			#{estdate,  jdbcType=VARCHAR},
			#{lerep,    jdbcType=VARCHAR},
			#{opfrom,   jdbcType=VARCHAR},
			#{opscope,  jdbcType=VARCHAR},
			#{opto,     jdbcType=VARCHAR},
			#{regcap,   jdbcType=VARCHAR},
			#{regcapcur,jdbcType=VARCHAR},
			#{regno,    jdbcType=VARCHAR},
			#{regorg,   jdbcType=VARCHAR},
			#{regstate, jdbcType=VARCHAR},
			#{orgno,    jdbcType=VARCHAR},
			#{compform, jdbcType=VARCHAR}
        )
    ]]>
	</insert>

	<update id="update" >
		UPDATE t_company_info SET
		<if test="userName != null">user_name = #{userName, jdbcType=VARCHAR} ,</if>
		<if test="password != null">password = #{password, jdbcType=VARCHAR} ,</if>
		<if test="companyName != null">company_name = #{companyName, jdbcType=VARCHAR} ,</if>
		<if test="companyType != null">company_type = #{companyType, jdbcType=INTEGER} ,</if>
		<if test="societyCode != null">society_code = #{societyCode, jdbcType=VARCHAR} ,</if>
		<if test="companyMobile != null">company_mobile = #{companyMobile, jdbcType=VARCHAR} ,</if>
		<if test="operator != null">operator = #{operator, jdbcType=VARCHAR} ,</if>
		<if test="operator2 != null">operator2 = #{operator2, jdbcType=VARCHAR} ,</if>
		<if test="operatorMobile != null">operator_mobile = #{operatorMobile, jdbcType=VARCHAR} ,</if>
		<if test="operatorAddress != null">operator_address = #{operatorAddress, jdbcType=VARCHAR} ,</if>
		<if test="remark != null">remark = #{remark, jdbcType=VARCHAR} ,</if>
		<if test="createTime != null">create_time = #{createTime, jdbcType=TIMESTAMP} ,</if>
		<if test="operatorMobile2 != null">operator_obile2 = #{operatorMobile2, jdbcType=VARCHAR} ,</if>
		<if test="idCardNumber_1 != null">idCardNumber_1 = #{idCardNumber_1, jdbcType=VARCHAR} ,</if>
		<if test="idCardNumber_2 != null">idCardNumber_2 = #{idCardNumber_2, jdbcType=VARCHAR} ,</if>
		<if test="status != null">status = #{status, jdbcType=INTEGER} ,</if>
		<if test="businessLicenseSrc != null">businessLicenseSrc = #{businessLicenseSrc, jdbcType=VARCHAR} ,</if>
		id = #{id}
		WHERE
		id = #{id}
	</update>

	<delete id="delete">
		<![CDATA[
        DELETE FROM t_company_info WHERE
        id = #{id}
    ]]>
	</delete>

	<select id="getById" resultMap="CompanyInfo">
		SELECT <include refid="columns"/>
		<![CDATA[
	        FROM t_company_info
	        WHERE
		        id = #{id}
	    ]]>
	</select>

	<sql id="findWhere">
		<where>
			<if test="userName != null">
				AND user_name = #{userName}
			</if>
			<if test="password != null">
				AND password = #{password}
			</if>
			<if test="companyName != null">
				AND company_name = #{companyName}
			</if>
			<if test="societyCode != null">
				AND society_code = #{societyCode}
			</if>
			<if test="companyMobile != null">
				AND company_mobile = #{companyMobile}
			</if>
			<if test="operator != null">
				AND operator = #{operator}
			</if>
			<if test="operatorMobile != null">
				AND operator_mobile = #{operatorMobile}
			</if>
			<if test="operatorAddress != null">
				AND operator_address = #{operatorAddress}
			</if>
			<if test="remark != null">
				AND remark = #{remark}
			</if>
			<if test="operatorMobile2 != null">
				AND operator_obile2 = #{operatorMobile2}
			</if>
			<if test="idCardNumber_1 != null">
				AND idCardNumber_1 = #{idCardNumber_1}
			</if>
			<if test="idCardNumber_2 != null">
				AND idCardNumber_2 = #{idCardNumber_2}
			</if>
			<if test="status != null">
				AND status = #{status}
			</if>
			<if test="ids != null">
				AND id IN
				<foreach collection="ids" item="item" open="(" separator="," close=")">
					#{item}
				</foreach>
			</if>
		</where>
	</sql>

	<select id="findPageCount" resultType="int">
		SELECT count(*) FROM t_company_info <include refid="findWhere"/>
	</select>

	<!--
        分页查询已经使用Dialect进行分页,也可以不使用Dialect直接编写分页
        因为分页查询将传 #offset#,#pageSize#,#lastRows# 三个参数,不同的数据库可以根于此三个参数属性应用不同的分页实现
    -->
	<select id="findPage" resultMap="CompanyInfo">
		SELECT <include refid="columns"/> FROM t_company_info
		<include refid="findWhere"/>
		<if test="sortColumns != null">
			ORDER BY ${sortColumns}
		</if>
	</select>


	<select id="find" resultMap="CompanyInfo">
		SELECT <include refid="columns"/> FROM t_company_info
		<include refid="findWhere"/>
		<if test="sortColumns != null">
			ORDER BY ${sortColumns}
		</if>
	</select>

	<select id="findByCompanyNameOrCode" resultMap="CompanyInfo">
		SELECT <include refid="columns"/> FROM t_company_info
		WHERE company_name = #{companyName} OR society_code = #{societyCode}
	</select>

</mapper>

