<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wutuobang.score.dao.IHouseMoveDao">

    <resultMap id="HouseMove" type="com.wutuobang.score.model.HouseMoveModel">
        <result property="id" column="id"/>
        <result property="identityInfoId" column="identity_info_id"/>
        <result property="moveProvince" column="move_province"/>
        <result property="moveCity" column="move_city"/>
        <result property="moveRegion" column="move_region"/>
        <result property="moveAddress" column="move_address"/>
        <result property="moveRegisteredOffice" column="move_registered_office"/>
        <result property="houseNature" column="house_nature"/>
        <result property="settledNature" column="settled_nature"/>
        <result property="registeredOffice" column="registered_office"/>
        <result property="address" column="address"/>
        <result property="witness" column="witness"/>
        <result property="witnessPhone" column="witness_phone"/>
        <result property="witnessAddress" column="witness_address"/>
        <result property="region" column="region"/>
        <result property="marriageStatus" column="marriage_status"/>
        <result property="haveSon" column="have_son"/>
        <result property="sonNumber" column="son_number"/>
        <result property="ctime" column="c_time"/>
    </resultMap>

	<!-- 用于select查询公用抽取的列 -->
	<sql id="columns">
	    <![CDATA[
        id ,identity_info_id ,move_province ,move_city ,move_region ,move_address ,move_registered_office ,house_nature ,settled_nature ,registered_office ,address ,witness ,witness_phone ,witness_address ,region ,marriage_status ,have_son ,son_number ,c_time 
	    ]]>
	</sql>
	
    <insert id="insert" >
    <![CDATA[
        INSERT INTO d_house_move (
	        id  ,
	        identity_info_id  ,
	        move_province  ,
	        move_city  ,
	        move_region  ,
	        move_address  ,
	        move_registered_office  ,
	        house_nature  ,
	        settled_nature  ,
	        registered_office  ,
	        address  ,
	        witness  ,
	        witness_phone  ,
	        witness_address  ,
	        region  ,
	        marriage_status  ,
	        have_son  ,
	        son_number  ,
	        c_time  
        ) VALUES (
        	#{id, jdbcType=INTEGER} ,
        	#{identityInfoId, jdbcType=INTEGER} ,
        	#{moveProvince, jdbcType=INTEGER} ,
        	#{moveCity, jdbcType=INTEGER} ,
        	#{moveRegion, jdbcType=INTEGER} ,
        	#{moveAddress, jdbcType=VARCHAR} ,
        	#{moveRegisteredOffice, jdbcType=VARCHAR} ,
        	#{houseNature, jdbcType=INTEGER} ,
        	#{settledNature, jdbcType=INTEGER} ,
        	#{registeredOffice, jdbcType=VARCHAR} ,
        	#{address, jdbcType=VARCHAR} ,
        	#{witness, jdbcType=VARCHAR} ,
        	#{witnessPhone, jdbcType=VARCHAR} ,
        	#{witnessAddress, jdbcType=VARCHAR} ,
        	#{region, jdbcType=INTEGER} ,
        	#{marriageStatus, jdbcType=INTEGER} ,
        	#{haveSon, jdbcType=INTEGER} ,
        	#{sonNumber, jdbcType=INTEGER} ,
        	#{ctime, jdbcType=TIMESTAMP} 
        )
    ]]>
    </insert>

    <update id="update" >
        UPDATE d_house_move SET
	        <if test="identityInfoId != null">identity_info_id = #{identityInfoId, jdbcType=INTEGER} ,</if>
	        <if test="moveProvince != null">move_province = #{moveProvince, jdbcType=INTEGER} ,</if>
	        <if test="moveCity != null">move_city = #{moveCity, jdbcType=INTEGER} ,</if>
	        <if test="moveRegion != null">move_region = #{moveRegion, jdbcType=INTEGER} ,</if>
	        <if test="moveAddress != null">move_address = #{moveAddress, jdbcType=VARCHAR} ,</if>
	        <if test="moveRegisteredOffice != null">move_registered_office = #{moveRegisteredOffice, jdbcType=VARCHAR} ,</if>
	        <if test="houseNature != null">house_nature = #{houseNature, jdbcType=INTEGER} ,</if>
	        <if test="settledNature != null">settled_nature = #{settledNature, jdbcType=INTEGER} ,</if>
	        <if test="registeredOffice != null">registered_office = #{registeredOffice, jdbcType=VARCHAR} ,</if>
	        <if test="address != null">address = #{address, jdbcType=VARCHAR} ,</if>
	        <if test="witness != null">witness = #{witness, jdbcType=VARCHAR} ,</if>
	        <if test="witnessPhone != null">witness_phone = #{witnessPhone, jdbcType=VARCHAR} ,</if>
	        <if test="witnessAddress != null">witness_address = #{witnessAddress, jdbcType=VARCHAR} ,</if>
	        <if test="region != null">region = #{region, jdbcType=INTEGER} ,</if>
	        <if test="marriageStatus != null">marriage_status = #{marriageStatus, jdbcType=INTEGER} ,</if>
	        <if test="haveSon != null">have_son = #{haveSon, jdbcType=INTEGER} ,</if>
	        <if test="sonNumber != null">son_number = #{sonNumber, jdbcType=INTEGER} ,</if>
	        <if test="ctime != null">c_time = #{ctime, jdbcType=TIMESTAMP} </if>
        WHERE 
	        id = #{id} 
    </update>

    <delete id="delete">
    <![CDATA[
        DELETE FROM d_house_move WHERE
        id = #{id} 
    ]]>
    </delete>
    
    <select id="getById" resultMap="HouseMove">
	    SELECT <include refid="columns"/>
	    <![CDATA[
	        FROM d_house_move 
	        WHERE 
		        id = #{id} 
	    ]]>
    </select>

	<sql id="findWhere">
	    <where>
					<if test="moveAddress != null">
						AND move_address = #{moveAddress}
					</if>
					<if test="moveRegisteredOffice != null">
						AND move_registered_office = #{moveRegisteredOffice}
					</if>
					<if test="registeredOffice != null">
						AND registered_office = #{registeredOffice}
					</if>
					<if test="address != null">
						AND address = #{address}
					</if>
					<if test="witness != null">
						AND witness = #{witness}
					</if>
					<if test="witnessPhone != null">
						AND witness_phone = #{witnessPhone}
					</if>
					<if test="witnessAddress != null">
						AND witness_address = #{witnessAddress}
					</if>
	    </where>
	</sql>
	 
    <select id="findPageCount" resultType="int">
        SELECT count(*) FROM d_house_move <include refid="findWhere"/>    
    </select>
    
    <!--
    	分页查询已经使用Dialect进行分页,也可以不使用Dialect直接编写分页
    	因为分页查询将传 #offset#,#pageSize#,#lastRows# 三个参数,不同的数据库可以根于此三个参数属性应用不同的分页实现
    -->
    <select id="findPage" resultMap="HouseMove">
    	SELECT <include refid="columns"/> FROM d_house_move 
		<include refid="findWhere"/>
		<if test="sortColumns != null">
			ORDER BY ${sortColumns}
		</if>
    </select>

	
	<select id="find" resultMap="HouseMove">
	    SELECT <include refid="columns"/> FROM d_house_move 
		<include refid="findWhere"/>
		<if test="sortColumns != null">
			ORDER BY ${sortColumns}
		</if>
    </select>
	
</mapper>

