<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wutuobang.score.dao.IHouseRelationshipDao">

    <resultMap id="HouseRelationship" type="com.wutuobang.score.model.HouseRelationshipModel">
        <result property="id" column="id"/>
        <result property="identityInfoId" column="identity_info_id"/>
        <result property="relationship" column="relationship"/>
        <result property="name" column="name"/>
        <result property="idNumber" column="id_number"/>
        <result property="isRemove" column="is_remove"/>
        <result property="cultureDegree" column="culture_degree"/>
        <result property="ctime" column="c_time"/>
    </resultMap>

	<!-- 用于select查询公用抽取的列 -->
	<sql id="columns">
	    <![CDATA[
        id ,identity_info_id ,relationship ,name ,id_number ,is_remove ,culture_degree ,c_time 
	    ]]>
	</sql>
	
    <insert id="insert" >
		<selectKey keyProperty="id" resultType="int" order="BEFORE">
			select t_house_relationship_seq.NEXTVAL from dual
		</selectKey>
    <![CDATA[
        INSERT INTO t_house_relationship (
	        id  ,
	        identity_info_id  ,
	        relationship  ,
	        name  ,
	        id_number  ,
	        is_remove  ,
	        culture_degree  ,
	        c_time  
        ) VALUES (
        	${id} ,
        	#{identityInfoId, jdbcType=INTEGER} ,
        	#{relationship, jdbcType=VARCHAR} ,
        	#{name, jdbcType=VARCHAR} ,
        	#{idNumber, jdbcType=VARCHAR} ,
        	#{isRemove, jdbcType=INTEGER} ,
        	#{cultureDegree, jdbcType=VARCHAR} ,
        	#{ctime, jdbcType=TIMESTAMP} 
        )
    ]]>
    </insert>

    <update id="update" >
        UPDATE t_house_relationship SET
	        <if test="identityInfoId != null">identity_info_id = #{identityInfoId, jdbcType=INTEGER} ,</if>
	        <if test="relationship != null">relationship = #{relationship, jdbcType=VARCHAR} ,</if>
	        <if test="name != null">name = #{name, jdbcType=VARCHAR} ,</if>
	        <if test="idNumber != null">id_number = #{idNumber, jdbcType=VARCHAR} ,</if>
	        <if test="isRemove != null">is_remove = #{isRemove, jdbcType=INTEGER} ,</if>
	        <if test="cultureDegree != null">culture_degree = #{cultureDegree, jdbcType=VARCHAR} ,</if>
	        <if test="ctime != null">c_time = #{ctime, jdbcType=TIMESTAMP} ,</if>
			id = #{id}
        WHERE 
	        id = #{id} 
    </update>

    <delete id="delete">
    <![CDATA[
        DELETE FROM t_house_relationship WHERE
        id = #{id} 
    ]]>
    </delete>
    
    <select id="getById" resultMap="HouseRelationship">
	    SELECT <include refid="columns"/>
	    <![CDATA[
	        FROM t_house_relationship
	        WHERE 
		        id = #{id} 
	    ]]>
    </select>

	<sql id="findWhere">
	    <where>
			<if test="relationship != null">
				AND relationship = #{relationship}
			</if>
			<if test="name != null">
				AND name = #{name}
			</if>
			<if test="idNumber != null">
				AND id_number = #{idNumber}
			</if>
			<if test="identityInfoId != null">
				AND identity_info_id = #{identityInfoId}
			</if>
	    </where>
	</sql>
	 
    <select id="findPageCount" resultType="int">
        SELECT count(*) FROM t_house_relationship <include refid="findWhere"/>
    </select>
    
    <!--
    	分页查询已经使用Dialect进行分页,也可以不使用Dialect直接编写分页
    	因为分页查询将传 #offset#,#pageSize#,#lastRows# 三个参数,不同的数据库可以根于此三个参数属性应用不同的分页实现
    -->
    <select id="findPage" resultMap="HouseRelationship">
    	SELECT <include refid="columns"/> FROM t_house_relationship
		<include refid="findWhere"/>
		<if test="sortColumns != null">
			ORDER BY ${sortColumns}
		</if>
    </select>

	
	<select id="find" resultMap="HouseRelationship">
	    SELECT <include refid="columns"/> FROM t_house_relationship
		<include refid="findWhere"/>
		<if test="sortColumns != null">
			ORDER BY ${sortColumns}
		</if>
    </select>

	<insert id="batchInsert">
		INSERT INTO t_house_relationship(id, identity_info_id, relationship, name, id_number, is_remove, culture_degree)
		VALUES
		<foreach collection="houseRelationships" item="item" separator=",">
			(t_house_relationship_seq.nextval, #{item.identityInfoId}, #{item.relationship}, #{item.name}, #{item.idNumber}, #{item.isRemove}, #{item.cultureDegree})
		</foreach>
	</insert>

	<delete id="delByIdentityInfoId">
		DELETE FROM t_house_relationship
		WHERE identity_info_id = #{identityInfoId}
	</delete>

	<delete id="delByIds">
		DELETE FROM t_house_relationship
		WHERE id IN
		<foreach collection="ids" item="item" open="(" separator="," close=")">
			#{item}
		</foreach>
	</delete>
	
</mapper>

