<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wutuobang.score.dao.IIdentityInfoDao">

	<resultMap id="IdentityInfo" type="com.wutuobang.score.model.IdentityInfoModel">
		<result property="id" column="id"/>
		<result property="idNumber" column="id_number"/>
		<result property="batchId" column="batch_id"/>
		<result property="companyId" column="company_id"/>
		<result property="idCardPositive" column="id_card_positive"/>
		<result property="idCardOpposite" column="id_card_opposite"/>
		<result property="name" column="name"/>
		<result property="formerName" column="formerName"/>
		<result property="pregnantPromise" column="pregnantPromise"/>
		<result property="pregnantWeek" column="pregnantWeek"/>
		<result property="thirdPregnantPromise" column="thirdPregnantPromise"/>
		<result property="sex" column="sex"/>
		<result property="birthday" column="birthday"/>
		<result property="age" column="age"/>
		<result property="nation" column="nation"/>
		<result property="region" column="region"/>
		<result property="regionName" column="region_name"/>
		<result property="reservationStatus" column="reservation_status"/>
		<result property="hallStatus" column="hall_status"/>
		<result property="unionApproveStatus1" column="union_approve_status_1"/>
		<result property="unionApproveStatus2" column="union_approve_status_2"/>
		<result property="policeApproveStatus" column="police_approve_status"/>
		<result property="rensheAcceptStatus" column="renshe_accept_status"/>
		<result property="materialStatus" column="materialStatus"/>
		<result property="cancelStatus" column="cancel_status"/>
		<result property="acceptNumber" column="accept_number"/>
		<result property="acceptAddressId" column="accept_address_id"/>
		<result property="acceptAddress" column="accept_address"/>
		<result property="ctime" column="c_time"/>
		<result property="utime" column="u_time"/>
		<result property="resultStatus" column="result_status"/>
		<result property="reservationDate" column="reservation_date"/>
		<result property="reservationM" column="reservation_m"/>
		<result property="score" column="score"/>
		<result property="autoTestNum" column="auto_test_num"/>
		<result property="reservationTime" column="reservation_time"/>
		<result property="rejectReason" column="reject_reason"/>
		<result property="is201826Doc" column="is201826Doc"/>
	</resultMap>

	<!-- 用于select查询公用抽取的列 -->
	<sql id="columns">
		<![CDATA[
        id ,
        id_number ,
        batch_id ,
        company_id ,
        id_card_positive ,
        id_card_opposite ,
        name,
        formerName ,
        pregnantPromise ,
        pregnantWeek ,
        thirdPregnantPromise ,
        sex ,
        birthday ,
        age ,
        nation ,
        region ,
        region_name ,
        reservation_status ,
        hall_status ,
        union_approve_status_1 ,
        union_approve_status_2 ,
        police_approve_status ,
        renshe_accept_status ,
        cancel_status ,
        accept_number ,
        accept_address_id ,
        accept_address ,
        c_time ,
        u_time ,
        result_status ,
        reservation_date ,
        reservation_m,
        score,
        auto_test_num,
        reservation_time,
        reject_reason,
        materialStatus,
		is201826Doc
        ]]>
	</sql>

	<insert id="insert" useGeneratedKeys="true" keyProperty="id">
		<selectKey keyProperty="id" resultType="int" order="BEFORE">
			select t_identity_info_seq.NEXTVAL from dual
		</selectKey>
		<![CDATA[
        INSERT INTO t_identity_info (
	        id  ,
	        id_number  ,
	        batch_id  ,
	        company_id  ,
	        id_card_positive  ,
	        id_card_opposite  ,
	        name  ,
	        accept_address_id,
			formerName ,
            pregnantPromise,
            pregnantWeek,
            thirdPregnantPromise,
	        sex  ,
	        birthday  ,
	        age  ,
	        nation  ,
	        region  ,
	        region_name  ,
	        reservation_status  ,
	        hall_status  ,
	        union_approve_status_1  ,
	        union_approve_status_2  ,
	        police_approve_status  ,
	        renshe_accept_status  ,
	        cancel_status  ,
	        c_time  ,
	        u_time  ,
	        auto_test_num  ,
	        reservation_time ,
	        materialStatus,
	        is201826Doc
        ) VALUES (
        	${id} ,
        	#{idNumber, jdbcType=VARCHAR} ,
        	#{batchId, jdbcType=INTEGER} ,
        	#{companyId, jdbcType=INTEGER} ,
        	#{idCardPositive, jdbcType=VARCHAR} ,
        	#{idCardOpposite, jdbcType=VARCHAR} ,
        	#{name, jdbcType=VARCHAR} ,
        	#{acceptAddressId, jdbcType=INTEGER} ,
            #{formerName, jdbcType=VARCHAR} ,
            #{pregnantPromise, jdbcType=INTEGER} ,
            #{pregnantWeek, jdbcType=VARCHAR} ,
            #{thirdPregnantPromise, jdbcType=INTEGER} ,
        	#{sex, jdbcType=INTEGER} ,
        	#{birthday, jdbcType=VARCHAR} ,
        	#{age, jdbcType=INTEGER} ,
        	#{nation, jdbcType=VARCHAR} ,
        	#{region, jdbcType=INTEGER} ,
        	#{regionName, jdbcType=VARCHAR} ,
        	#{reservationStatus, jdbcType=INTEGER} ,
        	#{hallStatus, jdbcType=INTEGER} ,
        	#{unionApproveStatus1, jdbcType=INTEGER} ,
        	#{unionApproveStatus2, jdbcType=INTEGER} ,
        	#{policeApproveStatus, jdbcType=INTEGER} ,
        	#{rensheAcceptStatus, jdbcType=INTEGER} ,
        	#{cancelStatus, jdbcType=INTEGER} ,
        	#{ctime, jdbcType=TIMESTAMP} ,
        	#{utime, jdbcType=TIMESTAMP} ,
        	#{autoTestNum, jdbcType=INTEGER},
        	#{reservationTime, jdbcType=INTEGER} ,
        	#{materialStatus, jdbcType=INTEGER},
        	#{is201826Doc, jdbcType=INTEGER}
        )
    ]]>
	</insert>

	<update id="update">
		UPDATE t_identity_info SET
		<if test="idNumber != null">id_number = #{idNumber, jdbcType=VARCHAR} ,</if>
		<if test="batchId != null">batch_id = #{batchId, jdbcType=INTEGER} ,</if>
		<if test="companyId != null">company_id = #{companyId, jdbcType=INTEGER} ,</if>
		<if test="idCardPositive != null">id_card_positive = #{idCardPositive, jdbcType=VARCHAR} ,</if>
		<if test="idCardOpposite != null">id_card_opposite = #{idCardOpposite, jdbcType=VARCHAR} ,</if>
		<if test="name != null">name = #{name, jdbcType=VARCHAR} ,</if>
		<if test="formerName != null">formerName = #{formerName, jdbcType=VARCHAR} ,</if>
		<if test="pregnantPromise != null">pregnantPromise = #{pregnantPromise, jdbcType=INTEGER} ,</if>
		<if test="pregnantWeek != null">pregnantWeek = #{pregnantWeek, jdbcType=VARCHAR} ,</if>
		<if test="thirdPregnantPromise != null">thirdPregnantPromise = #{thirdPregnantPromise, jdbcType=INTEGER} ,</if>
		<if test="sex != null">sex = #{sex, jdbcType=INTEGER} ,</if>
		<if test="birthday != null">birthday = #{birthday, jdbcType=VARCHAR} ,</if>
		<if test="age != null">age = #{age, jdbcType=INTEGER} ,</if>
		<if test="nation != null">nation = #{nation, jdbcType=VARCHAR} ,</if>
		<if test="region != null">region = #{region, jdbcType=INTEGER} ,</if>
		<if test="regionName != null">region_name = #{regionName, jdbcType=VARCHAR} ,</if>
		<if test="reservationStatus != null">reservation_status = #{reservationStatus, jdbcType=INTEGER} ,</if>
		<if test="hallStatus != null">hall_status = #{hallStatus, jdbcType=INTEGER} ,</if>
		<if test="unionApproveStatus1 != null">union_approve_status_1 = #{unionApproveStatus1, jdbcType=INTEGER} ,</if>
		<if test="unionApproveStatus2 != null">union_approve_status_2 = #{unionApproveStatus2, jdbcType=INTEGER} ,</if>
		<if test="policeApproveStatus != null">police_approve_status = #{policeApproveStatus, jdbcType=INTEGER} ,</if>
		<if test="rensheAcceptStatus != null">renshe_accept_status = #{rensheAcceptStatus, jdbcType=INTEGER} ,</if>
		<if test="cancelStatus != null">cancel_status = #{cancelStatus, jdbcType=INTEGER} ,</if>
		<if test="acceptNumber != null">accept_number = #{acceptNumber, jdbcType=VARCHAR} ,</if>
		<if test="acceptAddressId != null">accept_address_id = #{acceptAddressId, jdbcType=INTEGER} ,</if>
		<if test="acceptAddress != null">accept_address = #{acceptAddress, jdbcType=VARCHAR} ,</if>
		<if test="ctime != null">c_time = #{ctime, jdbcType=TIMESTAMP} ,</if>
		<if test="utime != null">u_time = #{utime, jdbcType=TIMESTAMP} ,</if>
		<if test="resultStatus != null">result_status = #{resultStatus, jdbcType=INTEGER} ,</if>
		<if test="reservationDate != null">reservation_date = #{reservationDate, jdbcType=DATE} ,</if>
		<if test="reservationM != null">reservation_m = #{reservationM, jdbcType=INTEGER},</if>
		<if test="score != null">score = #{score, jdbcType=INTEGER},</if>
		<if test="autoTestNum != null">auto_test_num = auto_test_num - #{autoTestNum, jdbcType=INTEGER},</if>
		<if test="reservationTime != null">reservation_time = #{reservationTime, jdbcType=INTEGER},</if>
		<if test="reservationDateNull != null">reservation_date = NULL ,</if>
		<if test="preApprove != null">preApprove = #{preApprove, jdbcType=DATE},</if>
		<if test="unionApprove1Et != null">union_approve_1_et = #{unionApprove1Et, jdbcType=DATE},</if>
		<if test="unionApprove2Et != null">union_approve_2_et = #{unionApprove2Et, jdbcType=DATE},</if>
		<if test="materialStatus != null">materialStatus = #{materialStatus, jdbcType=INTEGER} ,</if>
		<if test="is201826Doc != null">is201826Doc = #{is201826Doc, jdbcType=INTEGER} ,</if>
		id = #{id}
		WHERE
		id = #{id}
	</update>

	<delete id="delete">
		<![CDATA[
        DELETE
        FROM t_identity_info
        WHERE id = #{id}
        ]]>
	</delete>

	<select id="getById" resultMap="IdentityInfo">
		SELECT
		<include refid="columns"/>
		<![CDATA[
	        FROM t_identity_info
	        WHERE
		        id = #{id}
	    ]]>
	</select>

	<sql id="findWhere">
		<where>
			<if test="idNumber != null">
				AND id_number = #{idNumber}
			</if>
			<if test="idCardPositive != null">
				AND id_card_positive = #{idCardPositive}
			</if>
			<if test="idCardOpposite != null">
				AND id_card_opposite = #{idCardOpposite}
			</if>
			<if test="name != null">
				AND name = #{name}
			</if>
			<if test="birthday != null">
				AND birthday = #{birthday}
			</if>
			<if test="nation != null">
				AND nation = #{nation}
			</if>
			<if test="queryStr != null">
				AND (name LIKE #{queryStr} OR id_number LIKE #{queryStr} OR accept_number LIKE #{queryStr})
			</if>
			<if test="batchId != null">
				AND batch_id = #{batchId}
			</if>
			<if test="companyId != null">
				AND company_id = #{companyId}
			</if>
			<if test="notId != null">
				AND id != #{notId}
			</if>
			<if test="userName != null">
				AND name = #{userName}
			</if>
			<if test="acceptNumber != null">
				AND accept_number = #{acceptNumber}
			</if>
		</where>
	</sql>

	<select id="findPageCount" resultType="int">
		SELECT count(*) FROM t_identity_info
		<include refid="findWhere"/>
	</select>

	<!--
        分页查询已经使用Dialect进行分页,也可以不使用Dialect直接编写分页
        因为分页查询将传 #offset#,#pageSize#,#lastRows# 三个参数,不同的数据库可以根于此三个参数属性应用不同的分页实现
    -->
	<select id="findPage" resultMap="IdentityInfo">
		SELECT
		<include refid="columns"/>
		FROM t_identity_info
		<include refid="findWhere"/>
		<if test="sortColumns != null">
			ORDER BY ${sortColumns}
		</if>
	</select>


	<select id="find" resultMap="IdentityInfo">
		SELECT
		<include refid="columns"/>
		FROM t_identity_info
		<include refid="findWhere"/>
		<if test="sortColumns != null">
			ORDER BY ${sortColumns}
		</if>
	</select>

</mapper>

