<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wutuobang.score.dao.IPbScoreRecordDao">
    <resultMap id="PbScoreRecord" type="com.wutuobang.score.model.PbScoreRecordModel">
        <result property="id" column="id"/>
        <result property="accept_number" column="accept_number"/>
        <result property="batch_id" column="batch_id"/>
        <result property="indicator_id" column="indicator_id"/>
        <result property="indicator_name" column="indicator_name"/>
        <result property="person_id" column="person_id"/>
        <result property="person_name" column="person_name"/>
        <result property="person_id_num" column="person_id_num"/>
        <result property="person_mobile_phone" column="person_mobile_phone"/>
        <result property="company_id" column="company_id"/>
        <result property="company_name" column="company_name"/>
        <result property="status" column="status"/>
        <result property="score_value" column="score_value"/>
        <result property="item_id" column="item_id"/>
        <result property="accept_date" column="accept_date"/>
        <result property="submit_date" column="submit_date"/>
        <result property="score_date" column="score_date"/>
        <result property="op_user_id" column="op_user_id"/>
        <result property="op_user" column="op_user"/>
        <result property="op_role_id" column="op_role_id"/>
        <result property="op_role" column="op_role"/>
        <result property="score_detail" column="score_detail"/>
        <result property="c_time" column="c_time"/>
        <result property="accept_address_id" column="accept_address_id"/>
        <result property="toreviewreason" column="toreviewreason"/>
        <result property="toreviewtime" column="toreviewtime"/>
        <result property="idreviewend" column="idreviewend"/>
    </resultMap>

    <sql id="columns">
        <![CDATA[
        id,accept_number,batch_id,indicator_id,indicator_name,person_id,person_name,person_id_num,person_mobile_phone,company_id,company_name,
        status,score_value,item_id,accept_date,submit_date,score_date,op_user_id,op_user,op_role_id,op_role,score_detail,c_time,accept_address_id,toreviewreason,toreviewtime,idreviewend
	    ]]>
    </sql>

    <update id="update">
        update t_pb_score_record set
        <if test="person_name!=null">person_name=#{person_name,jdbcType=VARCHAR},</if>
        <if test="person_id_num!=null">person_id_num=#{person_id_num,jdbcType=VARCHAR},</if>
        <if test="indicator_name!=null">indicator_name=#{indicator_name,jdbcType=VARCHAR},</if>
        <if test="toreviewreason!=null">toreviewreason=#{toreviewreason,jdbcType=VARCHAR},</if>
        <if test="toreviewtime!=null">toreviewtime=#{toreviewtime,jdbcType=TIMESTAMP},</if>
        id = #{id}
        WHERE
            id = #{id}
    </update>

    <select id="getByPersonId" resultMap="PbScoreRecord">
        SELECT <include refid="columns"/> FROM t_pb_score_record
        <where>
            <if test="id != null">
                AND  person_id= #{id}
            </if>
        </where>
    </select>

    <select id="getPublicList" resultMap="PbScoreRecord">
          select t2.person_id_num,t1.id,t2.person_name,t2.score_value from t_identity_info t1,
                (
                select a.person_id_num,max(a.person_name) person_name,round(nvl(sum(a.SCORE), 0),2) score_value
                from
                (
                    select min(t.PERSON_NAME) PERSON_NAME, min(t.OP_ROLE) OP_ROLE,min(t.person_id_num) person_id_num,sum(t.score_value)  score from t_pb_score_record t where t.indicator_id!=3 and t.indicator_id!=14 and batch_id = #{batch_id}  group by t.indicator_id
                       union all
                select max(t.PERSON_NAME) PERSON_NAME, max(t.OP_ROLE) OP_ROLE, t.person_id_num, max(t.score_value) as score from t_pb_score_record t where t.indicator_id=3 and t.batch_id = #{batch_id} group by t.person_id_num
                       union all
                select max(t.PERSON_NAME) PERSON_NAME, max(t.OP_ROLE) OP_ROLE, t.person_id_num, decode(sum(t.score_value),20,10,0) as score  from t_pb_score_record t where t.indicator_id=14 and t.batch_id = #{batch_id}  group by t.person_id_num
                ) a
                group by a.person_id_num  order by score_value desc
                ) t2
            where upper(t1.id_number) = upper(t2.person_id_num)  and t1.CANCEL_STATUS=0 and t1.batch_id=#{batch_id}
    </select>

    <!-- 分页查询 -->
    <select id="findPublicPage" resultMap="PbScoreRecord">
        select t2.person_id_num,t1.id,t2.person_name,t2.score_value from t_identity_info t1,
        (
        select a.person_id_num,max(a.person_name) person_name,round(nvl(sum(a.SCORE), 0),2) score_value
        from
        (
        select min(t.PERSON_NAME) PERSON_NAME, min(t.OP_ROLE) OP_ROLE,min(t.person_id_num) person_id_num,sum(t.score_value)  score from t_pb_score_record t where t.indicator_id!=3 and t.indicator_id!=14 and batch_id = #{batch_id}  group by t.indicator_id
        union all
        select max(t.PERSON_NAME) PERSON_NAME, max(t.OP_ROLE) OP_ROLE, t.person_id_num, max(t.score_value) as score from t_pb_score_record t where t.indicator_id=3 and t.batch_id = #{batch_id} group by t.person_id_num
        union all
        select max(t.PERSON_NAME) PERSON_NAME, max(t.OP_ROLE) OP_ROLE, t.person_id_num, decode(sum(t.score_value),20,10,0) as score  from t_pb_score_record t where t.indicator_id=14 and t.batch_id = #{batch_id}  group by t.person_id_num
        ) a
        group by a.person_id_num  order by score_value desc
        ) t2

        <where>
            upper(t1.id_number) = upper(t2.person_id_num) and t1.CANCEL_STATUS=0 and t1.batch_id=#{batch_id}
            <!--<if test="indicatorType == 0">
                AND rownum &lt;= ${indicatorValue}
            </if>-->
            <if test="indicatorValue !=null">
                AND t2.score_value &gt;=${scoreValue} order by score_value desc
            </if>
        </where>
    </select>

    <select id="findPublicPageCount" resultType="int">
        select count(1) from t_identity_info t1,
        (
        select a.person_id_num,max(a.person_name) person_name,round(nvl(sum(a.SCORE), 0),2) score_value
        from
        (
        select min(t.PERSON_NAME) PERSON_NAME, min(t.OP_ROLE) OP_ROLE,min(t.person_id_num) person_id_num,sum(t.score_value)  score from t_pb_score_record t where t.indicator_id!=3 and t.indicator_id!=14 and batch_id = #{batch_id}  group by t.indicator_id
        union all
        select max(t.PERSON_NAME) PERSON_NAME, max(t.OP_ROLE) OP_ROLE, t.person_id_num, max(t.score_value) as score from t_pb_score_record t where t.indicator_id=3 and t.batch_id = #{batch_id} group by t.person_id_num
        union all
        select max(t.PERSON_NAME) PERSON_NAME, max(t.OP_ROLE) OP_ROLE, t.person_id_num, decode(sum(t.score_value),20,10,0) as score  from t_pb_score_record t where t.indicator_id=14 and t.batch_id = #{batch_id}  group by t.person_id_num
        ) a
        group by a.person_id_num  order by score_value desc
        ) t2

        <where>
            upper(t1.id_number) = upper(t2.person_id_num) and t1.CANCEL_STATUS=0 and t1.batch_id=#{batch_id}
                AND t2.score_value >=${scoreValue}
        </where>
    </select>
    
    <select id="findOnePbScoreRecord" resultMap="PbScoreRecord">
        select t2.person_id_num,t1.id,t2.person_name,t2.score_value from t_identity_info t1,
        (
        select a.person_id_num,max(a.person_name) person_name,round(nvl(sum(a.SCORE), 0),2) score_value
        from
        (
        select min(t.PERSON_NAME) PERSON_NAME, min(t.OP_ROLE) OP_ROLE,min(t.person_id_num) person_id_num,sum(t.score_value)  score from t_pb_score_record t where t.indicator_id!=3 and t.indicator_id!=14 and batch_id = #{batch_id}  group by t.indicator_id
        union all
        select max(t.PERSON_NAME) PERSON_NAME, max(t.OP_ROLE) OP_ROLE, t.person_id_num, max(t.score_value) as score from t_pb_score_record t where t.indicator_id=3 and t.batch_id = #{batch_id} group by t.person_id_num
        union all
        select max(t.PERSON_NAME) PERSON_NAME, max(t.OP_ROLE) OP_ROLE, t.person_id_num, decode(sum(t.score_value),20,10,0) as score  from t_pb_score_record t where t.indicator_id=14 and t.batch_id = #{batch_id}  group by t.person_id_num
        ) a
        group by a.person_id_num  order by score_value desc
        ) t2

        <where>
            upper(t1.id_number) = upper(t2.person_id_num) and t1.CANCEL_STATUS=0 and t1.batch_id=#{batch_id}

            <if test="id_number != null">
                AND t2.person_id_num='${id_number}' order by score_value desc
            </if>
        </where>
    </select>

</mapper>