<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wutuobang.score.dao.IPersonBatchScoreResultDao">

    <resultMap id="PersonBatchScoreResult" type="com.wutuobang.score.model.PersonBatchScoreResultModel">
        <result property="id" column="id"/>
        <result property="batchId" column="batch_id"/>
        <result property="indicatorId" column="indicator_id"/>
        <result property="indicatorName" column="indicator_name"/>
		<result property="indicatorItemId" column="indicator_item_id"/>
        <result property="personId" column="person_id"/>
        <result property="personName" column="person_name"/>
        <result property="personIdNum" column="person_id_num"/>
        <result property="scoreValue" column="score_value"/>
        <result property="scoreDetail" column="score_detail"/>
        <result property="ctime" column="c_time"/>
    </resultMap>

	<!-- 用于select查询公用抽取的列 -->
	<sql id="columns">
	    <![CDATA[
        id ,batch_id ,indicator_id ,indicator_name ,indicator_item_id ,person_id ,person_name ,person_id_num ,score_value ,score_detail ,c_time
	    ]]>
	</sql>
	
    <insert id="insert" >
    <![CDATA[
        INSERT INTO t_person_batch_score_result (
	        id  ,
	        batch_id  ,
	        indicator_id  ,
	        indicator_name  ,
	        indicator_item_id  ,
	        person_id  ,
	        person_name  ,
	        person_id_num  ,
	        score_value  ,
	        score_detail  ,
	        c_time  
        ) VALUES (
        	t_score_result_seq.nextval ,
        	#{batchId, jdbcType=INTEGER} ,
        	#{indicatorId, jdbcType=INTEGER} ,
        	#{indicatorName, jdbcType=VARCHAR} ,
        	#{indicatorItemId, jdbcType=INTEGER}
        	#{personId, jdbcType=INTEGER} ,
        	#{personName, jdbcType=VARCHAR} ,
        	#{personIdNum, jdbcType=VARCHAR} ,
        	#{scoreValue, jdbcType=DECIMAL} ,
        	#{scoreDetail, jdbcType=VARCHAR} ,
        	#{ctime, jdbcType=TIMESTAMP} 
        )
    ]]>
    </insert>

    <update id="update" >
        UPDATE t_person_batch_score_result SET
	        <if test="batchId != null">batch_id = #{batchId, jdbcType=INTEGER} ,</if>
	        <if test="indicatorId != null">indicator_id = #{indicatorId, jdbcType=INTEGER} ,</if>
	        <if test="indicatorName != null">indicator_name = #{indicatorName, jdbcType=VARCHAR} ,</if>
			<if test="indicatorItemId != null">indicator_item_id = #{indicatorItemId, jdbcType=INTEGER} ,</if>
	        <if test="personId != null">person_id = #{personId, jdbcType=INTEGER} ,</if>
	        <if test="personName != null">person_name = #{personName, jdbcType=VARCHAR} ,</if>
	        <if test="personIdNum != null">person_id_num = #{personIdNum, jdbcType=VARCHAR} ,</if>
	        <if test="scoreValue != null">score_value = #{scoreValue, jdbcType=DECIMAL} ,</if>
	        <if test="scoreDetail != null">score_detail = #{scoreDetail, jdbcType=VARCHAR} ,</if>
	        <if test="ctime != null">c_time = #{ctime, jdbcType=TIMESTAMP} </if>
        WHERE 
	        id = #{id} 
    </update>

    <delete id="delete">
    <![CDATA[
        DELETE FROM t_person_batch_score_result WHERE
        id = #{id} 
    ]]>
    </delete>
    
    <select id="getById" resultMap="PersonBatchScoreResult">
	    SELECT <include refid="columns"/>
	    <![CDATA[
	        FROM t_person_batch_score_result 
	        WHERE 
		        id = #{id} 
	    ]]>
    </select>

	<sql id="findWhere">
	    <where>
			<if test="indicatorName != null">
				AND indicator_name = #{indicatorName}
			</if>
			<if test="personName != null">
				AND person_name = #{personName}
			</if>
			<if test="personIdNum != null">
				AND person_id_num = #{personIdNum}
			</if>
			<if test="scoreDetail != null">
				AND score_detail = #{scoreDetail}
			</if>
			<if test="personId != null">
				AND person_id = #{personId}
			</if>
	    </where>
	</sql>
	 
    <select id="findPageCount" resultType="int">
        SELECT count(*) FROM t_person_batch_score_result <include refid="findWhere"/>    
    </select>
    
    <!--
    	分页查询已经使用Dialect进行分页,也可以不使用Dialect直接编写分页
    	因为分页查询将传 #offset#,#pageSize#,#lastRows# 三个参数,不同的数据库可以根于此三个参数属性应用不同的分页实现
    -->
    <select id="findPage" resultMap="PersonBatchScoreResult">
    	SELECT <include refid="columns"/> FROM t_person_batch_score_result 
		<include refid="findWhere"/>
		<if test="sortColumns != null">
			ORDER BY ${sortColumns}
		</if>
    </select>

	
	<select id="find" resultMap="PersonBatchScoreResult">
	    SELECT <include refid="columns"/> FROM t_person_batch_score_result 
		<include refid="findWhere"/>
		<if test="sortColumns != null">
			ORDER BY ${sortColumns}
		</if>
    </select>

	<insert id="batchInsert">
		INSERT INTO t_person_batch_score_result(id, batch_id, indicator_id, indicator_name, indicator_item_id, person_id, person_name,
	        person_id_num, score_value, score_detail, c_time) VALUES
	    <foreach collection="personBatchScoreResults" item="item" separator=",">
			(t_score_result_seq.id, #{item.batchId}, #{item.indicatorId}, #{item.indicatorName}, #{item.indicatorItemId}, #{item.personId}, #{item.personName}, #{item.personIdNum}, #{item.scoreValue},
			#{item.scoreDetail}, #{item.ctime})
		</foreach>
	</insert>
	
</mapper>

