<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wutuobang.score.dao.IRegionDao">

    <resultMap id="Region" type="com.wutuobang.score.model.RegionModel">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="parentId" column="parent_id"/>
        <result property="level" column="region_level"/>
    </resultMap>

	<!-- 用于select查询公用抽取的列 -->
	<sql id="columns">
	    <![CDATA[
        id ,name ,parent_id ,region_level
	    ]]>
	</sql>
	
    <insert id="insert" >
    <![CDATA[
        INSERT INTO t_region (
	        id  ,
	        name  ,
	        parent_id  ,
	        region_level
        ) VALUES (
        	t_region_seq.nextval ,
        	#{name, jdbcType=VARCHAR} ,
        	#{parentId, jdbcType=INTEGER} ,
        	#{level, jdbcType=INTEGER} 
        )
    ]]>
    </insert>

    <update id="update" >
        UPDATE t_region SET
	        <if test="name != null">name = #{name, jdbcType=VARCHAR} ,</if>
	        <if test="parentId != null">parent_id = #{parentId, jdbcType=INTEGER} ,</if>
	        <if test="level != null">region_level = #{level, jdbcType=INTEGER} </if>
        WHERE 
	        id = #{id} 
    </update>

    <delete id="delete">
    <![CDATA[
        DELETE FROM t_region WHERE
        id = #{id} 
    ]]>
    </delete>
    
    <select id="getById" resultMap="Region">
	    SELECT <include refid="columns"/>
	    <![CDATA[
	        FROM t_region
	        WHERE 
		        id = #{id} 
	    ]]>
    </select>

	<sql id="findWhere">
	    <where>
			<if test="name != null">
				AND name = #{name}
			</if>
			<if test="parentId != null">
				AND parent_id = #{parentId}
			</if>
	    </where>
	</sql>
	 
    <select id="findPageCount" resultType="int">
        SELECT count(*) FROM t_region <include refid="findWhere"/>
    </select>
    
    <!--
    	分页查询已经使用Dialect进行分页,也可以不使用Dialect直接编写分页
    	因为分页查询将传 #offset#,#pageSize#,#lastRows# 三个参数,不同的数据库可以根于此三个参数属性应用不同的分页实现
    -->
    <select id="findPage" resultMap="Region">
    	SELECT <include refid="columns"/> FROM t_region
		<include refid="findWhere"/>
		<if test="sortColumns != null">
			ORDER BY ${sortColumns}
		</if>
    </select>

	
	<select id="find" resultMap="Region">
	    SELECT <include refid="columns"/> FROM t_region
		<include refid="findWhere"/>
		<if test="sortColumns != null">
			ORDER BY ${sortColumns}
		</if>
    </select>
	
</mapper>

