<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wutuobang.score.dao.IScorePeriodDao">

    <resultMap id="ScorePeriod" type="com.wutuobang.score.model.ScorePeriodModel">
        <result property="id" column="id"/>
        <result property="scorePeriodId" column="score_period_id"/>
        <result property="datetime" column="datetime"/>
        <result property="totalNumber" column="total_number"/>
        <result property="reservationNumber" column="reservation_number"/>
        <result property="location" column="location"/>
        <result property="ctime" column="c_time"/>
    </resultMap>

	<!-- 用于select查询公用抽取的列 -->
	<sql id="columns">
	    <![CDATA[
        id ,score_period_id ,datetime ,total_number ,reservation_number ,location ,c_time 
	    ]]>
	</sql>
	
    <insert id="insert" >
    <![CDATA[
        INSERT INTO d_score_period (
	        id  ,
	        score_period_id  ,
	        datetime  ,
	        total_number  ,
	        reservation_number  ,
	        location  ,
	        c_time  
        ) VALUES (
        	#{id, jdbcType=INTEGER} ,
        	#{scorePeriodId, jdbcType=INTEGER} ,
        	#{datetime, jdbcType=VARCHAR} ,
        	#{totalNumber, jdbcType=INTEGER} ,
        	#{reservationNumber, jdbcType=INTEGER} ,
        	#{location, jdbcType=INTEGER} ,
        	#{ctime, jdbcType=TIMESTAMP} 
        )
    ]]>
    </insert>

    <update id="update" >
        UPDATE d_score_period SET
	        <if test="scorePeriodId != null">score_period_id = #{scorePeriodId, jdbcType=INTEGER} ,</if>
	        <if test="datetime != null">datetime = #{datetime, jdbcType=VARCHAR} ,</if>
	        <if test="totalNumber != null">total_number = #{totalNumber, jdbcType=INTEGER} ,</if>
	        <if test="reservationNumber != null">reservation_number = #{reservationNumber, jdbcType=INTEGER} ,</if>
	        <if test="location != null">location = #{location, jdbcType=INTEGER} ,</if>
	        <if test="ctime != null">c_time = #{ctime, jdbcType=TIMESTAMP} </if>
        WHERE 
	        id = #{id} 
    </update>

    <delete id="delete">
    <![CDATA[
        DELETE FROM d_score_period WHERE
        id = #{id} 
    ]]>
    </delete>
    
    <select id="getById" resultMap="ScorePeriod">
	    SELECT <include refid="columns"/>
	    <![CDATA[
	        FROM d_score_period 
	        WHERE 
		        id = #{id} 
	    ]]>
    </select>

	<sql id="findWhere">
	    <where>
					<if test="datetime != null">
						AND datetime = #{datetime}
					</if>
	    </where>
	</sql>
	 
    <select id="findPageCount" resultType="int">
        SELECT count(*) FROM d_score_period <include refid="findWhere"/>    
    </select>
    
    <!--
    	分页查询已经使用Dialect进行分页,也可以不使用Dialect直接编写分页
    	因为分页查询将传 #offset#,#pageSize#,#lastRows# 三个参数,不同的数据库可以根于此三个参数属性应用不同的分页实现
    -->
    <select id="findPage" resultMap="ScorePeriod">
    	SELECT <include refid="columns"/> FROM d_score_period 
		<include refid="findWhere"/>
		<if test="sortColumns != null">
			ORDER BY ${sortColumns}
		</if>
    </select>

	
	<select id="find" resultMap="ScorePeriod">
	    SELECT <include refid="columns"/> FROM d_score_period 
		<include refid="findWhere"/>
		<if test="sortColumns != null">
			ORDER BY ${sortColumns}
		</if>
    </select>
	
</mapper>

